body{
    font-family: "roboto",sans-serif;
}

/* Start Navbar */
.navbar{
    width: 100%;
}
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: rgb(9, 100, 180);
}
.navbar .search{
    border-left: 1px solid black;
}
.navbar .search svg{
    color: black;
}
.navbar .search:focus,
.navbar .search:hover{
    color: rgb(14, 86, 150);
}
/* End Navbar */


.welcomepg{
    
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 58, 58);

}


#us{
    margin-top: 150px;
}


@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}